* {
  font-family: "Ephesis", cursive;
}
.statistics {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  color: #fff;
  background-color: rebeccapurple;
  border: 2px rgb(239, 234, 234);
}
.feedback {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  width: 265px;
  border-radius: 5px;
  color: #fff;
  background-color: rebeccapurple;
}
.btns {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.good {
  background-color: chartreuse;
}
.neutral {
  background-color: darkorange;
}
.bad {
  background-color: darkred;
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
